<%= form_for(@future) do |f| %>
  <% if @future.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@future.errors.count, "error") %> prohibited this future from being saved:</h2>

      <ul>
      <% @future.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br />
    <%= f.date_select :expiry %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :direction %><br />
    <%= f.text_field :direction %>
  </div>
  <div class="field">
    <%= f.label :entered_at %><br />
    <%= f.date_select :entered_at %>
  </div>
  <div class="field">
    <%= f.label :version %><br />
    <%= f.text_field :version %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
