<h1>Listing futures</h1>

<table>
  <tr>
    <th>Quantity</th>
    <th>Expiry</th>
    <th>Price</th>
    <th>Direction</th>
    <th>Entered at</th>
    <th>Version</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @futures.each do |future| %>
  <tr>
    <td><%= future.quantity %></td>
    <td><%= future.expiry %></td>
    <td><%= future.price %></td>
    <td><%= future.direction %></td>
    <td><%= future.entered_at %></td>
    <td><%= future.version %></td>
    <td><%= link_to 'Show', future %></td>
    <td><%= link_to 'Edit', edit_future_path(future) %></td>
    <td><%= link_to 'Destroy', future, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Future', new_future_path %>
