<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @future.user_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @future.quantity %>
</p>

<p>
  <b>Expiry:</b>
  <%= @future.expiry %>
</p>

<p>
  <b>Price:</b>
  <%= @future.price %>
</p>

<p>
  <b>Direction:</b>
  <%= @future.direction %>
</p>

<p>
  <b>Entered at:</b>
  <%= @future.entered_at %>
</p>

<p>
  <b>Version:</b>
  <%= @future.version %>
</p>


<%= link_to 'Edit', edit_future_path(@future) %> |
<%= link_to 'Back', futures_path %>
