<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @trade.user %>
</p>

<p>
  <b>Ttype:</b>
  <%= @trade.ttype %>
</p>

<p>
  <b>Quantity:</b>
  <%= @trade.quantity %>
</p>

<p>
  <b>Expiry:</b>
  <%= @trade.expiry %>
</p>

<p>
  <b>Price:</b>
  <%= @trade.price %>
</p>

<p>
  <b>Direction:</b>
  <%= @trade.direction %>
</p>

<p>
  <b>Entered at:</b>
  <%= @trade.entered_at %>
</p>


<%= link_to 'Edit', edit_trade_path(@trade) %> |
<%= link_to 'Back', trades_path %>
